# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# You can also use email addresses if you prefer.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @abarrows

# Back-end Engineering
*.rb @vkieffer-amu @amumark @abarrows @ctrible @kubecode30 @forrestkc
*.yml @vkieffer-amu @amumark @abarrows @kubecode30 @forrestkc

# Front-end Engineering
*.erb @abarrows @vkieffer-amu @amumark @kubecode30
*.js @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU
*.jsx @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU
*.css @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU
*.scss @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU
*.sass @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU
*.json @abarrows @dcumpton @ctrible @NathanTrost @pmccarthyAMU



# DevOps
# ./* config/** @forrestkc @tburger010 @kubecode30
