# General Software Engineering
*                               @abarrows @NathanTrost @acroth

# Front-end Engineering

*.html.**                       @acroth
*.erb                           @acroth
*.jsx                           @acroth
*.js                            @acroth
*.css                           @acroth
*.scss                          @acroth
*.sass                          @acroth
*.otf                           @acroth
*.eot                           @acroth
*.ttf                           @acroth
*.woff*                         @acroth
*.svg                           @acroth
*.jpg                           @acroth
*.jpeg                          @acroth
*.gif                           @acroth
*.png                           @acroth
*.ico                           @acroth
**.eslint**                     @acroth
**.prettier**                   @acroth
**robots.**                     @acroth
/public/**                      @acroth

# Back-end Engineering

*.rb                            @NathanTrost
bin/**                          @NathanTrost
db/**                           @NathanTrost
lib/**                          @NathanTrost

# DevOps
/*                              @abarrows @NathanTrost @acroth
/config/**                      @abarrows @NathanTrost @acroth
.github/**                      @abarrows @NathanTrost @acroth
jenkins/**                      @abarrows @NathanTrost @acroth
/**Gemfile**                    @abarrows @NathanTrost @acroth
/**.env**                       @abarrows @NathanTrost @acroth
/**.nvmrc**                     @abarrows @NathanTrost @acroth

# Advertising

/config/ads.txt                 @acroth
